body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
  }
  .container{
    max-width: 400px;
  }
  footer{
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
.icons{
  position:relative;
  top:-50px;
  border-radius:50%;
  width:50px;
  margin-bottom:-50px;

}